.card{
  width: 50%;
  margin: 0 auto;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  // box-shadow: 0 0 10px rgba($color: $color-gray, $alpha: 0.1); 
  padding: 30px;
  flex-direction: column;
}